[submodule "vim/.vim/pack/plugins/start/goyo"]
	path = vim/.vim/pack/plugins/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/pack/plugins/start/vimwiki"]
	path = vim/.vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/pack/plugins/start/vim-css-color"]
	path = vim/.vim/pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "vim/.vim/pack/plugins/start/limelight.vim"]
	path = vim/.vim/pack/plugins/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "nvim/after/pack/packer/start/packer.nvim"]
	path = nvim/after/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "nvim/nvim/after/pack/packer/start/packer.nvim"]
	path = nvim/nvim/after/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "vim/.vim/pack/plugins/start/slimv"]
	path = vim/.vim/pack/plugins/start/slimv
	url = https://github.com/kovisoft/slimv.git
